.slider {
    max-width: 770px;
    width: 100%;
    margin: 5% auto 0;
    background: #a6daff;
    border: 0.7em solid #a6daff;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.slider-box {
    display: flex;
    width: 400%;

}
input[type="radio"] {
    visibility: hidden;
    position: absolute;
}
.slider-box__item {
    width: 25%;
    transition: all .6s ;
}
#slide1:checked ~ .slider-box .slide-active {
    margin-left: 0;
}
#slide2:checked ~ .slider-box .slide-active {
    margin-left: -25%;

}
#slide3:checked ~ .slider-box .slide-active {
    margin-left: -50%;
}
#slide4:checked ~ .slider-box .slide-active {
    margin-left: -75%;
}
.slider-box__item-img {
    width: 100%;
    max-height: 513px;
    border-radius: 5px;
}

.slider-box__item-descr {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 44px;
    color: #FFF;
    transition: visibility .3s;
}

.slider-bottom_nav,.slider-bottom {
    display: flex;
}
.slider-bottom {
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.slider-btn {
    width: 1.5em;
    height: .6em;
    border: 1em solid #a6daff;
    background: #FFFF8C;
    border-radius: 2em;
    cursor: pointer;
    transition: background .3s;
}
@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes active {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}
#slide1:not(:checked) ~ .slider-bottom > .slider-bottom__mem > label[for="slide1"],
#slide2:not(:checked) ~ .slider-bottom > .slider-bottom__mem > label[for="slide2"],
#slide3:not(:checked) ~ .slider-bottom > .slider-bottom__mem > label[for="slide3"],
#slide4:not(:checked) ~ .slider-bottom > .slider-bottom__mem > label[for="slide4"] {
    display: none;
    animation: hide .6s;
}
#slide1:checked ~ .slider-bottom > .slider-bottom__mem > label[for="slide1"],
#slide2:checked ~ .slider-bottom > .slider-bottom__mem > label[for="slide2"],
#slide3:checked ~ .slider-bottom > .slider-bottom__mem > label[for="slide3"],
#slide4:checked ~ .slider-bottom > .slider-bottom__mem > label[for="slide4"] {
    display: block;
    animation: active .6s;
}
#slide1:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide1"],
#slide2:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide2"],
#slide3:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide3"],
#slide4:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide4"] {
    background: rgb(218, 68, 68);
}
#slide1:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide1"]:hover,
#slide2:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide2"]:hover,
#slide3:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide3"]:hover,
#slide4:checked ~ .slider-bottom > .slider-bottom_nav > label[for="slide4"]:hover {
    background: #ffffff;
}

.slider-btn:hover {
    background: #ffffff;
}
.slider-btn:not(:last-child) {
    margin-right: 1em;
}
@media screen and (max-width: 992px) {
    .slider {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .slider-bottom {
        flex-direction: column-reverse;
    }
    .slider-box__item-descr {
        margin-top: 10px;
        align-self: flex-start;
        font-size: 1.2em;
        font-weight: 400;
    }
}